*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Cutive', serif;
}
body{
    background: linear-gradient(90deg, rgb(37, 150, 190) 0%, rgb(128, 178, 228) 35%, rgba(226, 194, 129, 1) 100%, rgba(255, 104, 0, 1) 100%); 
    overflow-x: hidden; 
    overflow-y:hidden ;
}
.student-details{
    background-color: rgba(40, 74, 111, 255);;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Full-name{
    padding: 0 1rem;
    font-weight: 800;
    font-size: 2rem;
    color: whitesmoke;
}
.reg-no{
    font-weight: 600;
    font-size: 1rem;
    color: white ;
}
.student{
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: grey;
}
.list-details{
    display: flex;
}
.item{
    padding: 0 20px;
    font-size: 1.5rem;
    color: bisque;
}
body{
background: linear-gradient(90deg, rgb(37, 150, 190) 0%, rgb(128, 178, 228) 35%, rgba(226, 194, 129, 1) 100%, rgba(255, 104, 0, 1) 100%); 
    overflow-x: hidden;
    overflow-y: hidden;
}
.upper-functions{
    padding: 2rem 2.5rem 0 4rem;
    background: linear-gradient(90deg, rgb(37, 150, 190) 0%, rgb(128, 178, 228) 35%, rgba(226, 194, 129, 1) 100%, rgba(255, 104, 0, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.leav{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 13rem;
    width: 25rem;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.leave{
    width: 25rem;
    height: 26rem;
    background-color: rgb(243, 251, 248);
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    left:33rem;
    top:3rem;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.compl{
    width: 25rem;
    height: 26rem;
    background-color: rgb(243, 251, 248);
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    left:33rem;
    top:3rem;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.mcr{
    width: 25rem;
    height: 26rem;
    background-color: rgb(243, 251, 248);
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    left:33rem;
    top:3rem;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.rcr{
    width: 25rem;
    height: 26rem;
    background-color: rgb(243, 251, 248);
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    left:33rem;
    top:3rem;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}